#### joe made this: https://goel.io/joe

#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#####=== Python ===#####

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# custom ignore

pydata/*.csv
pydata/apple.stackexchange.com/PostHistory.xml
pydata/apple.stackexchange.com/Posts.xml
pydata/Posts-1.xml
pydata/Posts.xml
pydata/stackoverflow.com-Posts.7z
pydata/apple.stackexchange.com/PostHistory.xml
pydata/apple.stackexchange.com/Posts.xml
pydata/Posts-1.xml
pydata/Posts.xml
pydata/unix.stackexchange.com/PostHistory.xml
pydata/unix.stackexchange.com/Posts.xml
.git/objects/pack/pack-5227dfd88d7a8372f5e42f306eae50449cb41e29.pack
.git/objects/pack/tmp_pack_FtxqLa
.git/objects/pack/tmp_pack_XrKcfc
pydata/stackoverflow/Comments.xml
pydata/stackoverflow/PostLinks.xml
pydata/stackoverflow/Posts.xml
pydata/stackoverflow/Users.xml
pydata/stackoverflow/Votes.xml


# videos
pydata/*.mp[34]
pydata/*.mkv
